<!DOCTYPE html>
<!-- <p> Hicham Tamarin</p> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weCon Inscription</title>
    <link rel="stylesheet" href="inscription.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
   <body>
   <div class="background">
        <nav id="header">
            <div class="elementHeader">
                <ul class="header">
                    <li class="element hide-line icon"><a href="index.php?action=Accueil">
                            <img src="Logo.PNG" style="width: 50%;"></a></li>
                    <li class="element"><a href="index.php?action=Accueil">Accueil</a></li>
                    <li class="element"><a href="boucles.php">Produits</a></li>
                    <li class="element"><a href="APropos.html">À propos</a></li>
                    <li class="element"><a href="index.php?action=Send_Message">Contact</a></li>
                    <li class="element"><a href="index.php?action=Connexion">Connexion</a></li>
                </ul>
            </div>
          </nav>
          </div>
         <br>
          <br>
         <br /><br />
         <div class="formulaire">
         <form method="POST" action="">
            <table>
               <tr>
                  <td align="right">
                     <label for="pseudo">Pseudo :</label>
                  </td>
                  <td>
                     <input type="text" placeholder="Votre pseudo" id="pseudo" name="pseudo" value="<?php if(isset($pseudo)) { echo $pseudo; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="mail">Mail :</label>
                  </td>
                  <td>
                     <input type="email" placeholder="Votre mail" id="mail" name="mail" value="<?php if(isset($mail)) { echo $mail; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="mail2">Confirmation du mail :</label>
                  </td>
                  <td>
                     <input type="email" placeholder="Confirmez votre mail" id="mail2" name="mail2" value="<?php if(isset($mail2)) { echo $mail2; } ?>" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="mdp">Mot de passe :</label>
                  </td>
                  <td>
                     <input type="password" placeholder="Votre mot de passe" id="mdp" name="mdp" />
                  </td>
               </tr>
               <tr>
                  <td align="right">
                     <label for="mdp2">Confirmation du mot de passe :</label>
                  </td>
                  <td>
                     <input type="password" placeholder="Confirmez votre mdp" id="mdp2" name="mdp2" />
                  </td>
               </tr>
               <tr>
                <td align="right">
                <label for="utilise">Selectionner le type : </label>
                </td>
                <td>
                  <select name="utilise" id="utilise" >
                  <option value="Technicien"> technicien</option>
                  <option value="Entreprise"> entreprise</option>
                  <option value="Client"> client</option>
                  </select>
                 </td>
     </tr>
                  <td></td>
                  <td>
                     <br />
                     <input type="submit" name="forminscription" value="Je m'inscris" />
                  </td>
               </tr>
            </table>
         </form>
         <?php
         if(isset($erreur)) {
            echo '<font color="red">'.$erreur."</font>";
         }
         ?>
       </div>
   </body>
