body{
    font-family: Helvetica;
}
.textl{
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 10%;
    font-family: Helvetica;
}
.textr{
    display: inline-block;
    margin-bottom: 10%;
    font-family: Helvetica;
}
.gauche{
    position: center;
    width: 50%;
    height: 100%;
    float: left;
}

.droite{
    width: 50%;
    height: 100%;
    float: right;

}


.droite .pic{
    margin-left: 30%;
    margin-bottom: 10%;
}

.gauche .pic{
    margin-left: 10%;
    margin-bottom: 10%;
}

.elementHeader{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}



.background{
    top: 0%;
    width: 100%;
    height: 100%;
    background-image: url('ressources/photoaccueil.jpg');
    background-size: 100% 80%;
    background-repeat: no-repeat;

}

.background > h1{
    position: absolute;
    top: 20%;
    left: 30%;
    color: #2E4057;
    text-align: center;

}

.en-savoir-plus{
    background-color: #2E4057;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 45%;
}
.element
{
    font-size: 18px;
    float: left;
    display: inline;
    list-style: none; /* nécessaire pour IE7 */
}

ul{

}
.element a {
    font-family: 'Helvetica';
    text-align: center;
    text-decoration: none;
    color: #2E4057;
    display:inline;
    right: 30%;
}

.element a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.hide-line a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: 0s;
}

.element a:hover::after
{
    width: 100%;
}

.header li
{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
    position: sticky;
}


