body
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 10em;
    width: 100%;
    top: -8px;
    left: -8px;
    position: absolute;
    font-family: Helvetica, 'sans-serif';
}

.content{
    grid-column: 1/-1;
    grid-row: 1/10;
    font-family: Helvetica;
}


.image {
    width: 100%;
    text-align: center;
}



#logo {
    position: absolute;
    top: 27vw;
    right: 40%;
}

.logo{
    height: auto;
    width: 20vw;
    max-width: 300px;
    max-height: 300px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}


.NotreVision{
    color: #2E4057;
    width: 100%;
    position: absolute;
    font-size: 3vw;
}

.NotreMission{
    color: #2E4057;
    width: 100%;
    position: absolute;
    font-size: 3vw;
    top: 87vw;
}

.NotreEquipe{
    color: #2E4057;
    width: 100%;
    position: absolute;
    font-size: 3vw;
    top: 159vw;
}

.NosValeurs{
    color: #2E4057;
    width: 100%;
    position: absolute;
    font-size: 3vw;
    top: 123vw;
}

.slogan
{
    color: #2E4057;
    position: absolute;
    width: 100%;
    top: 30vw;
    text-align: center;
    font-size: 2vw;
}

.premierparagraphe{
    position : absolute;
    color: #2E4057;
    width: 50%;
    font-size: 1.6vw;
    top : 65vw;
    left: 45%;
}

.Vision{
    width: 25vw;
    position : absolute;
    margin-left: 13%;
    top : 65vw;

}

.ligne1{
    position: absolute;
    background: black;
    top:86vw;
    width: 80vw;
    height: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.ligne2{
    position: absolute;
    background: black;
    top:122vw;
    width: 80vw;
    height: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}
.ligne3{
    position: absolute;
    background: black;
    top:158vw;
    width: 80vw;
    height: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;


}


.deuxiemeparagraphe{
    color: #2E4057;
    width: 60%;
    font-size: 1.7vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42%;
    padding-bottom: 133vw;
}

.Icones{
    max-width: 40vw;
    position : absolute;
    top : 111vw;
    margin-left: 31%;
}

.troisiemeparagraphe{
    width: 40%;
    color: #2E4057;
    margin-left: 12%;
    position: absolute;
    top: 133vw;
    font-size: 1.6vw;
}

.Valeurs{
    width: 30vw;
    position : absolute;
    top : 134vw;
    margin-left: 56%;
}

.Gabriel{
    position : absolute;
    top : 170vw;
    height: auto;
    max-width: 30vw;
    margin-left: 15vw;
}

.Antoine{
    position : absolute;
    height: auto;
    max-width: 30vw;
    top : 170vw;
    margin-left: 41.5vw;
}

.Remi{
    position : absolute;
    height: auto;
    max-width: 30vw;
    top : 170vw;
    margin-left: 68vw;
}

.Robin{
    position : absolute;
    height: auto;
    max-width: 30vw;
    margin-left: 15vw;
    top:208vw;
}

.Hicham{
    position : absolute;
    height: auto;
    max-width: 30vw;
    top : 208vw;
    margin-left: 41.5vw;
}

.Jean{
    position : absolute;
    height: auto;
    max-width: 30vw;
    top : 208vw;
    margin-left: 68vw;

}
@media screen and (max-width: 1250px){
    #quatrieme{
        display: none;
    }
}