body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 10em;
    width: 100%;
    top: -8px;
    left: -8px;
    position: absolute;
}

.connexion{
    position: absolute;
    grid-column: 1/-1;
    grid-row: 1/7;
    margin-top: 77px;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
}
form{
    padding: 15px;
}

.connexion .content{
    background: rgba(255, 255, 255, 0.5);
    width: max-content;
    border: 2px solid darkslateblue;
    border-radius: 5px;
    box-shadow: 0 0 32px rgba(0,0,0,0.5);
    position: absolute;
    right: 10px;
    top: 40%;
}

input[type="email"], input[type="password"]{
    font-size: 1.5em;
}

input[type="submit"]{
    background: blue;
}

input[type="submit"]:hover{
    background: black;
}

h2{
    position: absolute;
    right: 100px;
    top: 40%;
    font-size: 3em;
    transform: translate(0,-100px);
}

.background{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label{
    font-size: 1.75em;
}

footer{
    margin-top: 0px;
    grid-row: 7/10;
    grid-column: 1/ -1;
}

header{
    grid-row: 1/7;
    grid-column: 1/ -1;
}

input#connexion{
    background-color: #2E4057;
    color: white;
    border: none;
    padding: 8px 10px;
    position: relative;
    right: 100px;
}

input#connexion:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}