.TblBoard{
    position: absolute;
    border: 2px solid black;
    border-radius: 5px;
    margin : 5%;
    left: 0;
    top: 0;
}

.submit{
    position: absolute;
    top:550px;
    left:400px;
    color:blue;
}
nav{
    background: #2E4057;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
}

body{
    background: #EAFBFC;
}

img{
    margin: 15% 0 15% 0;
}

.line{
    position: relative;
    left: 5%;
    width: 90%;
    border-bottom: 1px solid white ;
}

h3 {
    position: absolute;
}

.w3-button > a{
    position: relative;
    top: -70%;
    font-family: Helvetica;
}

.bouton{
    background: #2E4057;
    border: none;
    color: white;
    width: 100%;
    padding: 5% 0 5% 0;
}

#AjouterPiece, #AjouterCapteur, #AjouterUtilisateur{
    top: 90%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    color: black;
    border: 0.8px solid grey;
    border-radius: 10px;
    height: 25px;
    background-color: white;
}

#Tableaudebord{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin : 1%;
    height: 100%;
    width: 76.5%;
}

#Gestiondescapteurs{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin : 1%;
    height: 100%;
    width: 76.5%;
}

#Gestiondescomptes{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin : 1%;
    height: 100%;
    width: 76.5%;
}

#BoiteParametres{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size:20px;
}
#BoiteParametres2{
    position: absolute;
    top: 37%;
    left: 10%;
    font-size:20px;
}
#Modification{
    position: absolute;
    top: 70%;
    left: 10%;
    font-size:20px;
}
#Parametres{
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    margin : 1%;
    height: 100%;
    width: 76.5%;
}


#DesignMaison{
    position: absolute;
    width: 45%;
    height: 45%;
    top: 3%;
    left: 3%;
}

#DesignMaison > img{
    position: absolute;
    width: 98%;
    height: auto;
    left: 1%;
    top: -5%;
}

#luminosité{
    position: absolute;
    background: #ffffff;
    width: 45%;
    height: 45%;
    top: 51%;
    left: 3%;
}

#Temperature{
    position: absolute;
    width: 45%;
    height: 45%;
    top: 3%;
    left: 51%;
}

.pseudo{
    font-size: 1.5em;
    color: white;
}

#modifmail, #modifmdp {
    padding: 3px;
    font-size: 16px;
    margin: 5px;
    background: #2E4057;
    color: white;
    border: solid 1px grey;

}

