body {
    font-family:"trebuchet ms",sans-serif;
    font-size:90%;
    background-image:url(image.jpg);
}

fieldset {
    padding:0 30px 30px 30px;
    margin-bottom:10px;
    border:1px solid #DF3F3F;
}

legend {
    color:#DF3F3F;
    font-weight:bold
}


label {
    top:100px;
    margin-top:0px;
    display:block;
    margin-left: 0px;
}


.formulaire {
 	position:absolute;
	top:200px;
	left:750px;
}

input{
    margin-top:0px;
    display:block;
    margin-left: 0px;
}

label.inline {
    display:inline;
    margin-right:50px;
}

input, textarea, select, option {
    background-color:#FFF3;
}

input, textarea, select {
    padding:3px;
    border:1px solid #F5C5C5;
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
}

select {
    margin-top:0px;
}

input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
}

input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px #D83F3D;
    cursor:pointer;
}