body{
    font-family: Helvetica, 'sans-serif';
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10em;
    width: 100%;
    top: -8px;
    left: -8px;
    position: absolute;
}

.titre{
    text-align: center;
    margin-top: -3%;
    color: #2E4057;
}

.header{
    grid-column: 1/-1;
    grid-row: 1/10;
}

.content{
    grid-column: 1/-1;
    grid-row: 2/10;
}

.Photo{
    position: absolute;
    width: 68%;
    height: auto;
    top: 180px;
    left: 11%;
    padding: 0 20%;
}

.Photo > img{
    width: 60%;
    height: auto;
    transform: translate(0px,4px);
}

.DescriptionGenerale{
    border-left: 30%;
    width: 60%;
    text-align: center;
    margin-top: -40%;
    margin-left: auto;
    margin-right: auto;
    color: #2E4057;
    font-size: 1.6vw;
}

.ligne1{
    position: absolute;
    background: #F49B3E;
    top:46vw;
    width: 80vw;
    height: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


.DescriptionSpécifique{
    position: absolute;
    left: 28%;
    top: 965px;
    width: 42%;
}

.titredescription{
    text-align: center;
    color: #2E4057;
}

.DescriptionSpécifique > .left > p, .DescriptionSpécifique > .right > p{
    border: 1px solid #2E4057;
    margin: 0;
    padding: 5px;
}

.left{
    position: absolute;
    left: 0;
    width: 50%;
}

.right{
    position: absolute;
    right: 0;
    width: 50%;
}

.Video{
    position: absolute;
    width: 80%;
    top: 72%;
    left: 18%;
}

.line{
    width: 80%;
    height: 3px;
    background-color: #2E4057;
}

.ligne2{
    position: absolute;
    background: #F49B3E;
    top:75vw;
    width: 80vw;
    height: 2px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}


.footer{
    background: rgba(207, 207, 207, 0.7);
    width: 126%;
    position: absolute;
    left: -23%;
    margin-top: 50px;
    font-family: 'Helvetica', sans-serif;
}

.logofooter{
    width: 50px;
    height: 50px;
    padding: 15px;
}

#logos{
    width: 100%;
    text-align: center;
}

p{
    width: 100%;
    text-align: center;
}

a{
    color: black;
    text-decoration: none;
}

.line{
    background: dimgray;
    width: 80%;
    height: 2px;
    transform: translate(10%,0);
}

#left{
    position: absolute;
    top: 30px;
    left: 20px;
    font-size: 18px;
}

#right{
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 18px;
}

.logofooter:hover{
    transform: scale(1.2);
}

