body{
    font-family: Helvetica, 'sans-serif';
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 10em;
    width: 100%;
    top: -8px;
    left: -8px;
    position: absolute;
}

.header{
    grid-column: 1/-1;
    grid-row: 1/10;
}

.footer{
    grid-column: 1/-1;
    grid-row: 10/10;
}

.content{
    grid-column: 1/-1;
    grid-row: 2/10;
}

.Photo{
    position: absolute;
    width: 50%;
    height: 29%;
    top: 105px;
    left: 27px;
}

.Photo > img{
    position: absolute;
    width: 100%;
    height: auto;
}

.DescriptionGenerale{
    position: absolute;
    left: 55%;
    top: 105px;
    text-align: justify;
}

.DescriptionSpécifique{
    position: absolute;
    left: 55%;
    top: 265px;
    width: 42%;
}

.DescriptionSpécifique > .left > p, .DescriptionSpécifique > .right > p{
    border: 1px solid black;
    margin: 0;
    padding: 5px;
}

.left{
    position: absolute;
    left: 0;
    width: 50%;
}

.right{
    position: absolute;
    right: 0;
    width: 50%;
}

.Video{
    position: absolute;
    width: 80%;
    top: 50%;
    left: 18%;

}