body{
    font-family: Helvetica;
}
@media screen and (min-width: 1300px){

    header
    {
        grid-row: 1/3;
        grid-column: 1/ -1;
        height: 57px;
        list-style-type: none;
        margin: 0;
        overflow: hidden;
        background-color: #2E4057;
        position: -webkit-sticky; /* Safari */
        top: 0;
        text-align: center;
        left: 0;
        width: 100%;
        padding:10px 0px 10px 0px;
    }


    ul{
        display:inline-flex; /* Aligne la liste horizontalement */
        list-style-type:none; /* Retire les puces devant les éléments de liste */
        margin:0px;
        padding:0px;
    }

    .element a {
        text-align: center;
        font-size: 180%;
        padding: 10px 10px;
        text-decoration: none;
        color: white;
        display:inline-block;
        margin: 0 40px;
    }

    .element hide-line icon{
        position: absolute;
        width: 200px;
    }

    .element a:hover::after
    {
        width: 100%;
    }


    .element a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .3s;
    }

    .hide-line a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: transparent;
        transition: 0s;
    }
}
@media screen and (max-width: 1300px)
{
    header{
        grid-row: 1/3;
        grid-column: 1/ -1;
        background-color:#2E4057;
        text-align:center;
        font-size:24pt;
        width:100%;
        top:0;
        left:0;
        height:57px;
        padding:10px 0px 10px 0px;
        z-index:1;
    }

    header ul{
        margin:0px auto;
        padding:0px;
        display:block;
        list-style-type:none;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
    }

    header ul li{
        background-color:#2E4057;
        border-bottom:solid 2px #2E4057;
        text-decoration: none;
    }
    header ul li a{
        color:white;
        text-decoration: none;
    }
    header ul li:hover{
        background-color:blue;
        color:white;
        cursor:pointer;
    }

    header:hover ul{
        visibility: visible;
        opacity: 1;
    }
    .hide-line a{
        visibility: visible;
        opacity: 1;
    }
}
