<html>
<head>
    <meta charset="utf-8">
    <title>WeCon</title>
    <link rel="stylesheet"  href="../css/EspaceTech.css">
    <link rel="stylesheet"  href="Views/css/EspaceTech.css">
</head>

<body>

<nav>
    <img src="Ressources/logoBluebg.PNG">
    <div class = "anc"><a href="#Gestionusers"><button id = "Gestionusers">Gestion des utilisateurs</button></a></div>
    <div class = "line"></div>
    <div class = "anc"><a href="#Logs"><button id = "Logs">Logs</button></a></div>
    <div class = "line"></div>

</nav>


</body>
</html>