<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeCon</title>
    <link rel="stylesheet" href="../css/EspaceEntreprise.css">
    <link rel="stylesheet" href="Views/css/EspaceEntreprise.css">
</head>
<body>
    <nav>
        <img src="Ressources/LogoBlueBg.PNG">
        <div class = "anc"><a href="#Statistiques générales"><button id = "StatsGen">Statistiques générales</button></a></div>
        <div class = "line"></div>
        <div class = "anc"><a href="#Statistiques de panne"><button id = "StatsPanne">Statistiques de panne</button></a></div>
        <div class = "line"></div>
    </nav>
    <a id="Statistiques générales" ></a>
    <div class = "navigation">Satistiques Générales :
        <p>Nombre de Clients : </p>
        <p>Lancer une promotion : </p>
        <p>Capteurs ayant le plus de succès : </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <a id="Statistiques de panne" ></a>
    <div class = "navigation">Statistiques de panne :
        <p>Nombre de Clients : </p>
        <p>Lancer une promotion : </p>
        <p>Capteurs ayant le plus de succès : </p>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <script src="Views/js/EspaceEntreprise.js"></script>
</body>
</html>