<link href="../css/footer.css" rel="stylesheet">
<link href="Views/css/footer.css" rel="stylesheet">

<footer class = "footer">

    <a href="index.php?action=Contact" id = "left">Nous contacter</a>
    <a href="index.php?action=Apropos" id = "right">A propos de WeCon</a>

    <br>

    <div id = "logos">
        <a href = "http://www.facebook.com"><img class = "logofooter" src="Ressources/logoFB.png"></a>
        <a href = "http://www.instagram.com"><img class = "logofooter" src="Ressources/logoInsta.png"></a>
        <a href = "http://www.linkedin.com"><img class = "logofooter" src="Ressources/logoLinkedin.png"></a>
        <a href = "http://www.twitter.com"><img class = "logofooter" src="Ressources/logoTwitter.png"></a>
    </div>

    <br><br>

    <div class = "line"></div>

    <p>Copyright Copyright © 2019 WeCon. Tous droits réservés.<br>
        <a href="index.php?action=CU" target="_blank">Conditions d'utilisation</a>
        |
        <a href="index.php?action=ML" target="_blank">Mentions légales</a>
    </p>
</footer>
