<link rel="stylesheet" href="Views/css/styleheader.css">
<html>
<body>
<header>
          <span class="titre"><a href=""><img src="Model/LogoBlueBg.PNG" width="130"/></a></span>
        <ul>
            <li class="element"><a href="tableaux.php">Accueil</a></li>
            <li class="element"><a href="boucles.php">Produits</a></li>
            <li class="element active"><a href="APropos.html">À propos</a></li>
            <li class="element"><a href="test.php">Contact</a></li>
            <li class="element"><a href="test.php">Connexion</a></li>
        </ul>

    </header>

</nav>
<script type="text/javascript">

        
    </script>
</body>
</html>