<link rel="stylesheet" href="stylepro.css">
<html>
<body>
    <header>
        <ul>
            <li class="element hide-line icon"><a href="APropos.html"> <img src="Logo.PNG width="130"/></a> </li>
            <li class="element"><a href="tableaux.php">Accueil</a></li>
            <li class="element"><a href="boucles.php">Produits</a></li>
            <li class="element active"><a href="APropos.html">À propos</a></li>
            <li class="element"><a href="test.php">Contact</a></li>
            <li class="element"><a href="test.php">Connexion</a></li>
        </ul>

    </header>

</nav>
<script type="text/javascript">
        $(".header").fitText();
        
    </script>
</body>
</html>