<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>weCon Inscription</title>
    <link rel="stylesheet" href="Views/css/inscription.css">
</head>
<body>
<br>
<br>
<br /><br />
<div class="formulaire">
    <form method="POST" action="index.php?action=SendInscription">
        <table>
            <tr>
                <td align="right">
                    <label for="prenom">Prénom :</label>
                </td>
                <td>
                    <input type="text" placeholder="Entrez Prénom" id="prénom" name="prenom" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="nom">Nom :</label>
                </td>
                <td>
                    <input type="text" placeholder="Entrez Nom" id="nom" name="nom" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="pseudo">Nom d'utilisateur :</label>
                </td>
                <td>
                    <input type="text" placeholder="Entrez Nom d'utilisateur" id="pseudo" name="pseudo" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="mail">Mail :</label>
                </td>
                <td>
                    <input type="email" placeholder="Entrez mail" id="mail" name="mail" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="mail2">Confirmation du mail :</label>
                </td>
                <td>
                    <input type="email" placeholder="Confirmez mail" id="mail2" name="mail2" value="" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="mdp">Mot de passe :</label>
                </td>
                <td>
                    <input type="password" placeholder="Entrez mot de passe" id="mdp" name="mdp" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="mdp2">Confirmation du mot de passe :</label>
                </td>
                <td>
                    <input type="password" placeholder="Confirmez mdp" id="mdp2" name="mdp2" />
                </td>
            </tr>
            <tr>
                <td align="right">
                    <label for="utilise">Selectionner le type : </label>
                </td>
                <td>
                    <select name="utilise" id="utilise" >
                        <option value="Technicien"> technicien</option>
                        <option value="Entreprise"> entreprise</option>
                        <option value="Client"> client</option>
                    </select>
                </td>
            </tr>
            <td></td>
            <td>
                <br />
                <input type="submit" name="forminscription" value="Inscription"  />
            </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
