<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produit WeCon</title>
    <link href="Views/css/produit.css" rel="stylesheet">
</head>
<body>
    <div class="content">
        <div class = "Photo"><img src="Ressources/CeMac.png"></div>
        <div class = "DescriptionGenerale">DomIsep vous offre la possibilité d'équiper votre maison de son système dernière gamme.
            C'est un système qui s'intègrera parfaitement dans votre quotidien.
            Que ce soit pour un réveil en douceur, ou un réveil brutal, il ouvrira pour vous les volets et les fermera aussi.
            Vous pourrez commander des volets intelligents via l'onglet Contact. Un technicien prendra en charge votre demande.
        </div>
        <div class = "DescriptionSpécifique">
            <h1>Spécifications :</h1>
            <div class = "left">
                <p>Dimensions</p>
                <p>Alimentation</p>
                <p>Prix</p>
            </div>
            <div class = "right">
                <p>20x10x5 cm</p>
                <p>Branchement sur secteur possible</p>
                <p>250 €</p>
            </div>
        </div>
        <div class = "Video">
            <video width="80%" height="auto" controls>
                <source src = "Ressources/VideoPresentation.mp4" type="video/mp4">
            </video>
        </div>

    </div>
</body>
</html>