<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Produit WeCon</title>
    <link href="Views/css/produit.css" rel="stylesheet">
</head>
<body>

    
    <div class="content">
        <h1 class = "titre">Le CeMAC</h1>
        <div class = "Photo"><img src="Ressources/CeMac.png"></div>

        </div>
        <div class="ligne1">
        </div>
                
        <div class = "DescriptionGenerale">DomIsep vous offre la possibilité d'équiper votre maison de son système dernière gamme.
            C'est un système qui s'intègrera parfaitement dans votre quotidien.
            Que ce soit pour un réveil en douceur, ou un réveil brutal, il ouvrira pour vous les volets et les fermera aussi.
            Vous pourrez commander des volets intelligents via l'onglet Contact. Un technicien prendra en charge votre demande.
        </div>

        <div class = "ligne"></div>

        <div class = "DescriptionSpécifique">
            <h1 class = "titredescription">Spécifications :</h1>
            <div class = "left">
                <p>Dimensions</p>
                <p>Alimentation</p>
                <p>Prix</p>
            </div>
            <div class = "right">
                <p>20x10x5 cm</p>
                <p>Branchement sur secteur possible</p>
                <p>250 €</p>
            </div>
        </div>

        
        </div>
        <div class="ligne2">
        </div>

        <div class = "Video">
                <video width="80%" height="auto" controls>
                    <source src = "Ressources/VideoPresentation.mp4" type="video/mp4">
                </video>
                <footer class = "footer">

                        <a href="index.php?action=Contact" id = "left">Nous contacter</a>
                        <a href="index.php?action=FAQ" id="right">FAQ</a>
                    
                        <br>
                    
                        <div id = "logos">
                            <a href = "http://www.facebook.com"><img class = "logofooter" src="Ressources/logoFB.png"></a>
                            <a href = "http://www.instagram.com"><img class = "logofooter" src="Ressources/logoInsta.png"></a>
                            <a href = "http://www.linkedin.com"><img class = "logofooter" src="Ressources/logoLinkedin.png"></a>
                            <a href = "http://www.twitter.com"><img class = "logofooter" src="Ressources/logoTwitter.png"></a>
                        </div>
                    
                        <br><br>
                    
                        <div class = "line"></div>
                    
                        <p>Copyright Copyright © 2019 WeCon. Tous droits réservés.<br>
                            <a href="index.php?action=CU" target="_blank">Conditions d'utilisation</a>
                            |
                            <a href="index.php?action=ML" target="_blank">Mentions légales</a>
                        </p>
                    </footer>
                    
        </div>





    
     


</body>
</html>
